ion-card {
    background: url(../images/weather2.jpeg);
    background-repeat: inherit;
}

h2 {
    font-size: 75px;
    color: white;
}

h3 {
    font-size: 50px;
    color: white;
    text-align: center;
    align-content: center;
}

ion-content {
    /* --ion-background-color: #1e2023; */
    /* --ion-background-image: url(../images/weather1.jpeg); */
    --background: #fff url("../images/weather3.png")  no-repeat center center / cover;
}

ion-tab-bar, ion-tabs {
    --ion-background-color: #0b1a24;
}

/* .native-input.sc-ion-input-md {
    text-emphasis-color: white;
} */

ion-input{
    color: rgb(255, 255, 255);
    /* color: var(--ion-color-primary); */
  }

.native-input.sc-ion-input-md {
    color: white;
}
