ion-card {
    background: url(../images/weather2.jpeg);
    background-repeat: inherit;
}

/* .native-input.sc-ion-input-md {
    max-width: 50%;
    max-height: 50%;
} */

h2 {
    font-size: 75px;
    color: white;
}

h3 {
    font-size: 50px;
    color: white;
    text-align: center;
}